Repository rfgamaral/hacker-news-reader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add basic `useFetch` hook for HTTP requests
  src/hooks/use-fetch.ts
Due: eslint --fix

Add `useHackerNews` hook for Hacker News API layer
  src/hooks/index.ts
  src/hooks/use-hacker-news.ts
Due: eslint --fix

Add base time utility package
  src/utils/index.ts
  src/utils/time.ts
Due: eslint --fix

Add base array utility package
  src/utils/array.ts
  src/utils/index.ts
Due: eslint --fix

Add initial `StoryItem` component
  src/components/story-item.tsx
Due: eslint --fix

Add initial `StoriesContainer` component
  src/components/stories-container.tsx
Due: eslint --fix

Add new `min-w-screen-md` utility to Tailwind theme
  tailwind.config.js
Due: eslint --fix

Update base `Application` component
  src/components/application.tsx
Due: eslint --fix

Add base math utility package
  src/utils/index.ts
  src/utils/math.ts
Due: eslint --fix

Add `useIntersectionObserver` hook
  src/hooks/use-intersection-observer.ts
Due: eslint --fix

Add `useInfiniteScroll` hook
  src/hooks/index.ts
  src/hooks/use-infinite-scroll.ts
Due: eslint --fix

Move constants to the top of the file
  src/components/story-item.tsx
Due: eslint --fix

Throw error if response from `fetch` is not 200 OK
  src/hooks/use-fetch.ts
Due: eslint --fix

Implement infinite scroll mechanism
  src/components/stories-container.tsx
Due: eslint --fix

Throw error if data from `fetch` is null/empty
  src/hooks/use-fetch.ts
Due: eslint --fix

Add `hasFailed` flag to `useHackerNews` hook result
  src/hooks/use-hacker-news.ts
Due: eslint --fix

Add configuration for deployment to Vercel
  .gitignore
  package.json
  vercel.json
  yarn.lock
Due: prettier --write

Add web app manifest generator
  package.json
  resources/y-combinator-logo.svg
  src/favicon.ico
  src/index.html
  yarn.lock
Due: prettier --write

Handle scenario where a story might fail to load
  src/components/story-item.tsx
Due: eslint --fix

Add service worker for offline capabilities
  package.json
  posthtml.config.js
  src/index.html
  workbox.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Remove `true` class being added by mistake
  src/components/story-item.tsx
Due: eslint --fix

Highlight story title only with a URL
  src/components/story-item.tsx
Due: eslint --fix

Complete README.md with instructions/information
  README.md
Due: none

Add support for both npm and Yarn
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Remove unnecessary 'check' tasks
  package.json
Due: prettier --write

Implement unit and integration tests
  .eslintrc
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/components/application.test.tsx
  src/components/stories-container.test.tsx
  src/components/stories-container.tsx
  src/components/story-item.test.tsx
  src/hooks/use-fetch.test.ts
  src/hooks/use-fetch.ts
  src/hooks/use-hacker-news.test.ts
  src/hooks/use-infinite-scroll.test.ts
  src/mocks/handlers/hacker-news-api.ts
  src/mocks/handlers/index.ts
  src/mocks/index.ts
  src/mocks/server.ts
  src/utils/array.test.ts
  src/utils/math.test.ts
  src/utils/time.test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Add generic type for `useFetch` response data
  src/hooks/use-fetch.ts
  src/hooks/use-hacker-news.ts
Due: eslint --fix

Use a self-signed certificate for the dev server
  README.md
  config/ssl/certificate.cer
  config/ssl/private.key
  package.json
Due: prettier --write

Review README.md before archiving
  README.md
Due: none

Path conditions:
  eslint --fix: any of: ./**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{json,yml}
